.App {
  width: 1000px;
  display: flex;
  margin: 0px auto;
}
div {
  border: 3px solid black;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0px;
}
#root{
  border: none;
}
.App, .App div {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    background-color: red;
  }

  to {
    background: none;
  }
}